<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GYMbros</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/style.css">
	<script src="/static/javascript.js"></script> 
</head>
<body>
	<div class="topnav">

  		<h1 class = "title"><img class = "icon" src="/static/icon.png">GYMbros<img class = "icon" src="/static/icon1.png"><a href="/signup">Sign In</a>
  		<a href="#about">About</a><a href="/signout">Sign Out</a></h1>
  		</div>
	<div>
		<h1 class = "name">{{username}}</h1>
	</div>
	<div class = "div1"> 
		<img class = "picture" src="/static/bigbody.png">
		<div class="GoHover1"><img class="pic17 Hover" src="/static/bodyparts17.png"></div>
		<div class="GoHover2"><img class="pic18 Hover1" src="/static/bodyparts18.png"></div>
		<div class="GoHover3"><img class="pic4 Hover2" src="/static/bodyparts4.png"></div>
		<div class="GoHover4"><img class="pic5 Hover3" src="/static/bodyparts5.png"></div>
		<div class="GoHover5"><img class="pic15 Hover4" src="/static/bodyparts15.png"></div>
		<div class="GoHover6"><img class="pic1 Hover5" src="/static/bodypartsleft1.png"></div>
		<div class="GoHover7"><img class="pic2 Hover6" src="/static/bodypartsleft2.png"></div>
		<div class="GoHover8"><img class="pic3 Hover7" src="/static/bodypartsleft3.png"></div>
		<div class="GoHover9"><img class="pic6 Hover8" src="/static/bodypartsleft6.png"></div>
		<div class="GoHover10"><img class="pic7 Hover9" src="/static/bodypartsleft7.png"></div>
		<div class="GoHover11"><img class="pic8 Hover10" src="/static/bodypartsleft8.png"></div>
		<div class="GoHover12"><img class="pic9 Hover11" src="/static/bodypartsleft9.png"></div>
		<div class="GoHover13"><img class="pic10 Hover12" src="/static/bodypartsleft10.png"></div>
		<div class="GoHover14"><img class="pic11 Hover13" src="/static/bodypartsleft11.png"></div>
		<div class="GoHover15"><img class="pic12 Hover14" src="/static/bodypartsleft12.png"></div>
		<div class="GoHover16"><img class="pic13 Hover15" src="/static/bodypartsleft13.png"></div>
		<div class="GoHover17"><img class="pic14 Hover16" src="/static/bodypartsleft14.png"></div>
		<div class="GoHover18"><img class="pic16 Hover17" src="/static/bodypartsleft16.png"></div>	
		<div class="GoHover19"><img class="pic19 Hover18" src="/static/bodypartsleft19.png"></div>
		<div class="GoHover20"><img class="pic20 Hover19" src="/static/bodypartsleft20.png"></div>
		<div class="GoHover21"><img class="pic21 Hover20" src="/static/bodypartsright1.png"></div>
		<div class="GoHover22"><img class="pic22 Hover21" src="/static/bodypartsright2.png"></div>
		<div class="GoHover23"><img class="pic23 Hover22" src="/static/bodypartsright3.png"></div>
		<div class="GoHover24"><img class="pic24 Hover23" src="/static/bodypartsright6.png"></div>
		<div class="GoHover25"><img class="pic25 Hover24" src="/static/bodypartsright7.png"></div>
		<div class="GoHover26"><img class="pic26 Hover25" src="/static/bodypartsright8.png"></div>
		<div class="GoHover27"><img class="pic27 Hover26" src="/static/bodypartsright9.png"></div>
		<div class="GoHover28"><img class="pic28 Hover27" src="/static/bodypartsright10.png"></div>
		<div class="GoHover29"><img class="pic29 Hover28" src="/static/bodypartsright11.png"></div>
		<div class="GoHover30"><img class="pic30 Hover29" src="/static/bodypartsright13.png"></div>
		<div class="GoHover31"><img class="pic31 Hover30" src="/static/bodypartsright14.png"></div>
		<div class="GoHover32"><img class="pic32 Hover31" src="/static/bodypartsright16.png"></div>
		<div class="GoHover33"><img class="pic33 Hover32" src="/static/bodypartsright19.png"></div>
		<div class="GoHover34"><img class="pic34 Hover33" src="/static/bodypartsright20.png"></div>
		<div class="GoHover35"><img class="pic35 Hover34" src="/static/bodypartsright12.png"></div>
	</div>
	

	
</body>
</html>