<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>sginup</title>
</head>
<body>
	<form method = 'post' action = '/signup'>
		<h1>Join GYMbros</h1>
		<div>
			<input type="email" name="email" placeholder="email" required>
		</div>

		<div>
			<input type="password" name = "password" placeholder="password" minlength="6">
		</div>

		<div>
			<input type="submit">
		</div>
	</a><p>already signed up? <a href="/signin">login</p>
</body>
</html>